body{
    background-color: #2B2E4A;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.jumbotron{
    Color: #E84545;
     font-weight: bold;
    background-color: #2B2E4A;
    font-family: 'Montserrat', sans-serif;

}

a{
   font-family: 'Montserrat', sans-serif;
    color: #E84545;
}

/*min-height and the margin-bottom + padding-bottom is a trick for forcing a div column to extend to bottom of page*/
#holder{
    min-height: 100%;
}

#content, #sidebar{
    margin-bottom:-9999px;
    padding-bottom: 9999px;
}

#sidebar{
    background-color:black;
}

#sidebar ul:hover , #btnHome:hover{
    color: red;
}



